<div>
    <nav>
      <div>
        <h2>PokeDex</h2>
        <img src="/src/assets/img/logo.png" alt="">
      </div>
      <div>
        <h2>Menú</h2>
        <ul>
          <li><a href="/lista">Todos los Pokemones</a></li>
          <li><a href="/fuego">Pokemones de Fuego</a></li>
          <li><a href="agua">Pokemones de Agua</a></li>
          <li><a href="/hierba">Pokemones de Hierba</a></li>
        </ul>
      </div>
    </nav>
  <div></div>
  <div></div>
  <div></div>
  <div></div>
</div>
